services:
  - type: web
    name: mytube-backend
    env: node
    plan: free
    branch: main

    buildCommand: |
      npm install
      apt-get update
      apt-get install -y yt-dlp

    startCommand: node server.js

    envVars:
      - key: NODE_ENV
        value: production

  - type: redis
    name: mytube-cache
    plan: free
    maxmemoryPolicy: allkeys-lru
